<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>会社一覧</title>
    
    <th:block th:replace="~{fragment/fragment :: meta}"></th:block>
    
    <th:block th:replace="~{fragment/fragment :: styles}"></th:block>
</head>
<body>
	<div class="wrapper">
		
	<!-- ヘッダー -->
	<div th:replace="~{fragment/fragment :: header}"></div>
	
	<main>
		<div class="container pt-4 pb-5 container">
		    <div class="row justify-content-center">
		    	<div class="col-xxl-9 col-xl-10 col-lg-11">
					
				    <h1 class="mb-4 text-center">会社 一覧</h1>
				    
					<!-- 検索フォーム -->
				    <form method="get" class="w-100 mb-3" th:action="@{/admin/company}">
						<div class="input-group">
						    <input type="text" class="form-control search-input" name="search2" th:value="${search2}" placeholder="会社名、住所">
							<button type="submit" class="btn text-white shadow-sm search-btn">検索</button>
  						</div>
  					</form>
				
					<!-- 一覧表示 -->
				    <table class="table">
				        <thead>
				            <tr>
				                <!-- <th>会員名</th>-->
				                <th scope="col">会社名</th>
				                <th scope="col">住所</th>
				                <!-- <th>Emailアドレス</th>
				                <th>電話番号</th> -->
				                <th scope="col"></th>
				            </tr>
				        </thead>
				        <tbody>
				            <tr th:each="company : ${companiesPage}">
				                <!-- <td th:text="${company.memberName}"></td>
				                <td>
				                    会社名をクリックすると詳細画面（/admin/company/show/{companyId}）へ遷移 
				                    <a th:href="@{'/admin/company/show/' + ${company.companyId}}"
				                       th:text="${company.companyName}"></a>
				                </td> -->
				                <td th:text="${company.companyName}"></td>
				                <td th:text="${company.companyAddress}"></td>
				                <!-- <td th:text="${company.contactEmail}"></td>
				                <td th:text="${company.phoneNumber}"></td> -->
				                <td><a th:href="@{'/admin/company/show/' + ${company.companyId}}">詳細</a></td> 
				            </tr>
				        </tbody>
				    </table></div></div>
				    
				    <!-- ページ数が1ページ以上の場合にのみページネーションを表示 -->
				    <div th:if="${companiesPage.getTotalPages() > 1}" class="d-flex justify-content-center">
						
						<nav aria-label="Page navigation">
						    <ul class="pagination">
								<!-- 前のページボタン -->
						        <li class="page-item　disabled" th:classappend="${companiesPage.hasPrevious()} ? '' : 'disabled'">
						            <a class="page-link" th:href="@{/admin/company(page=${companiesPage.number - 1})}" aria-label="Previous">
						                <span aria-hidden="true">&laquo;</span>
						            </a>
						        </li>
						        
						        <!-- 各ページ番号 -->
						        <li class="page-item　active" th:each="i : ${#numbers.sequence(0, companiesPage.totalPages - 1)}"
						            th:classappend="${companiesPage.number == i} ? 'active'">
						            <a class="page-link" th:href="@{/admin/company(page=${i})}" th:text="${i + 1}"></a>
						        </li>
						        
						        <!-- 次のページボタン -->
						        <li class="page-item" th:classappend="${companiesPage.hasNext()} ? '' : 'disabled'">
						            <a class="page-link" th:href="@{/admin/company(page=${companiesPage.number + 1})}" aria-label="Next">
						                <span aria-hidden="true">&raquo;</span>
						            </a>
						        </li>
						    </ul>
				 		</nav>
				 	</div>
 	
 	      			<!-- 戻るボタン -->
					<div>
						<a th:href="@{/admin/home}">管理画面へ戻る</a>
					</div>　
				
			
		</div>
	</main>
	
	<!-- フッター -->
	<div th:replace="~{fragment/fragment :: footer}"></div>
	</div>
					 	
	<!-- Bootstrap -->
	<div th:replace="~{fragment/fragment :: scripts}"></div>
</body>
</html>