<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理画面トップ</title>
    
    <th:block th:replace="~{fragment/fragment :: meta}"></th:block>
    
    <th:block th:replace="~{fragment/fragment :: styles}"></th:block>
</head>
<body>
    <div class="container mt-4">
        <h1 class="mb-4 text-center">管理画面</h1>
        <div class="list-group">
            <!-- 登録情報遷移へのリンク -->
            <a th:href="@{/admin/company}" class="list-group-item list-group-item-action">登録情報</a>
            <!-- SNS連携アカウント遷移へのリンク -->
            <a th:href="@{/admin/shop}" class="list-group-item list-group-item-action">SNS連携アカウント</a>
            <!-- 投稿遷移へのリンク -->
            <a th:href="@{/admin/shop}" class="list-group-item list-group-item-action">投稿</a>
            <!-- 投稿一覧遷移へのリンク -->
            <a th:href="@{/admin/shop}" class="list-group-item list-group-item-action">投稿一覧</a>
            <!-- お問い合わせ遷移へのリンク -->
            <a th:href="@{/admin/shop}" class="list-group-item list-group-item-action">お問い合わせ</a>
        </div>
    </div>
    
	<!-- フッター -->
	<div th:replace="~{fragment/fragment :: footer}"></div>
	</div>
					 	
	<!-- Bootstrap -->
	<div th:replace="~{fragment/fragment :: scripts}"></div>
</body>
</html>